<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('partials/head')%>
</head>

<body>

    <%- include('partials/navigation')%>
        <main class="vh-100 container pt-2 text-center d-flex justify-content-center aling-items-center">
            <section>
                <h1 class="display-1">about</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, necessitatibus eius. Exercitationem
                    eligendi hic explicabo possimus delectus ducimus enim animi eveniet excepturi, repudiandae nemo
                    perferendis quas. Non explicabo incidunt vel consequatur quia quibusdam molestiae similique.
                    Recusandae blanditiis facilis, ab minus harum architecto, totam reiciendis delectus ipsam itaque
                    minima placeat quidem corrupti deserunt quas! Magnam porro mollitia ducimus. Eaque a eum tenetur est
                    quis fugit dolore optio obcaecati ut. Facere quaerat eligendi perspiciatis voluptatum harum ad
                    animi! A nostrum commodi accusamus hic ea recusandae quod provident nam deserunt. Obcaecati
                    laudantium aperiam asperiores adipisci provident quam atque iure impedit dolores. Rem, tempora!</p>
            </section>
        </main>

    <%- include('partials/footer')%>

</body>

</html>